:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue: hsl(207, 26%, 17%);
    --light-mode-text: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
  }
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* body */
  body{
    background-color: var(--very-dark-blue);
    font-family: "Nunito Sans", sans-serif;;
    font-weight: 600;
    color: var(--white);
    height: 100vh;
  }
  /* HEADER */
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--dark-blue);
    margin-bottom: 2rem;
    box-shadow: 
    0 0 5px 5px var(--very-dark-blue);
  }
  h1{
    font-size: 16px;
  }
  .themeColor{
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  /* MAIN */
  /* SEARCH */
  .search{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--dark-blue);
    width: 95%;
    margin: auto;
    padding: .7rem;
    border-radius: 10px;
    
    
  }
  #search{
    background-color: var(--dark-blue);
    border: none;
    
  }
  #search::placeholder{
    color: var(--very-light-gray);
    font-weight: 200;
  }
  #icon{
    margin-left: 1rem;
    
  }
  /* SECITON OPTIONS */
  .options{
    margin: 1rem;
  }
  select{
    background-color: var(--dark-blue);
    border: none;
    color: white;
   
  }
  /* SECTION COUNTRYS */
  .countrys{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

  }
  .country{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--dark-blue);
    padding: 2rem;
    height: 400px;
    width: 350px;
    gap: 1rem;
  }
  img{
    max-width: 300px;
    max-height: 200px;
  }
  span{
    color:#fffa
  }
  a{
    text-decoration: none;
    color: white;
  }
  .home{
    display: inline;
    padding: .5rem;
    margin: 1rem;
    box-shadow: 
    0 0 5px 1px black;
    background-color: var(--dark-blue);
  }
  main{
    padding: 1rem;
  }
  .country-flag{
    margin-top: 2rem;
  }
  .img-description{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
  }
  @media (width > 1070px){

    .country-html{
      display:flex;
      gap: 2rem;
      align-items: center;
      /* height: 100vh; */
      
    }
    .home{
      display: inline;
      padding: .5rem;
      margin-left: 2rem;
      box-shadow: 
      0 0 5px 1px black;
      background-color: var(--dark-blue);
    }
    .country-flag{
      width: 600px ;
      max-width: 600px;
      max-height: none;
      padding: 2rem;
    }
    .img-description{
      width: 50%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .img-country{
      width: 50%;
    }
    
  }